<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido a la pagina de inicio!</h1>
    <a href="AppFamilia/" id="link">Click aqui para ir a la página de familias!</a>
</body>
</html>

<style>
    h1 {
        color: rgb(51, 39, 39);
        font-size: 3rem;
        text-align: center;
        text-decoration: solid;
        padding-top: 0.05rem;
    }
    body {
        background-color: rgb(147, 153, 165);
    }
    #link {
        font-size: 1.5rem;
        padding-top: 2rem;
        text-align: center;
        padding-left: 30rem;
    }
</style>